html{
    min-width: 100%;
    min-height: 100%;
}

body{
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    overflow: hidden;
}

.mainpage{
    opacity: 0;
    background-image: url(bggif.gif);
    background-repeat: repeat;
    background-position: center center;
	color: transparent;
    -moz-background-clip: text;
	-webkit-background-clip: text;
	font-size: 200px;
    text-align: center;
    padding: 100 0;
}


.logo{
    box-shadow: 0px 0px 20px white;
    border-radius: 35%;
    padding: 10 10;
    cursor: pointer;
    transition: box-shadow 0.7s;
}

.logo:hover{
    box-shadow: 0px 0px 60px white;
}

.content{
    display: none;
}

.title{
    opacity: 0;
    transition: opacity 2s;
}

.titletext{
    background-image: url(bggif.gif);
    background-repeat: repeat;
    background-position: center center;
	color: transparent;
    -moz-background-clip: text;
	-webkit-background-clip: text;
	font-size: 60px;
    text-align: right;
    padding: 0 0;
}

.next{
    opacity: 0;
    transition: opacity 2s;
    box-shadow: 0px 0px 10px white;
    border-radius: 35%;
    padding: 10 10;
    cursor: pointer;
    transition: box-shadow 0.5s;
}

.next:hover{
    box-shadow: 0px 0px 30px white;
}

.whatis{
    display: none;
}

.whatistitle{
    opacity: 0;
    transition: opacity 2s;
    color: white;
    font-family: "papyrus";
    font-variant: small-caps;
}

.whatistext{
    opacity: 0;
    transition: opacity 2s;
    color: white;
    font-family: "courier";
    font-size: 24px;
}

.howtoplay{
    display: none;
}

.howtoplaytitle{
    opacity: 0;
    transition: opacity 2s;
    color: white;
    font-family: "papyrus";
    font-variant: small-caps;
}

.howtoplaytext{
    opacity: 0;
    transition: opacity 2s;
    color: white;
    font-family: "courier";
    font-size: 20px;
}

.game{
    display: none;
}

.betbuttons{
    background-color: darkgray;
    color: black;
    border: none;
    outline: none;
    border-radius: 10%;
    box-shadow: 0px 6px 4px gray;
    padding: 5px 10px;
    font-family: "papyrus";
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.betbuttons:active{
    background-color: gray;
    box-shadow: 0px 0px;
    transform: translateY(2px);
}

.actionbuttons{
    background-color: darkgray;
    color: black;
    border: none;
    outline: none;
    border-radius: 10%;
    box-shadow: 0px 6px 4px gray;
    padding: 10px 15px;
    font-family: "papyrus";
    font-size: 15px;
    font-weight: bolder;
    font-variant: small-caps;
    cursor: pointer;
}

.actionbuttons:active{
    background-color: gray;
    box-shadow: 0px 0px;
    transform: translateY(2px);
}

.coins{
    color: white;
    font-size: 24px;
    font-family: "papyrus";
}

.info{
    background-color: darkgray;
    color: white;
    font-size: 32px;
}

.cards{
    transform: scale(0);
    transition: transform 1s;
}